<h1>Game the Longest Word</h1>

<h3 class="text-center">New Game</h3>


<div>
  <ul class="list-group d-flex flex-row justify-content-center">
    <% @letters.each do |letter| %>
    <li class="list-group-item"><%= letter %></li>
    <% end %>
  </ul>
</div>

<div class="">
  <form action="/score" method="post" data-turbo="false" class="d-flex flex-column align-items-center">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :random_letters, @letters %>
    <%= hidden_field_tag :score_game, params[:score] if params[:score] %>
    <label for="longest-word">What is the longest word you can find?</label>
    <div class="d-flex">
      <input type="text" name="word-user" id="longest-word" class="form-control">
      <input type="submit" class="btn btn-primary">
    </div>
  </form>
</div>
